<main class="main-content">
    <section class="welcome-section">
      <h2>Welcome to Our Festive Website</h2>
      <p>Celebrate the joy and magic of Christmas with us!</p>
    </section>

    <section class="features">
      <div class="feature-card" onclick="location.href='/tony';" onKeyPress="if(event.key === 'Enter') location.href='/tony';" role="button" tabindex="0">
        <img src="/assets/present.png" alt="Gift Box">
        <h3>For Tony</h3>
        <p>Our christmas gift to you!</p>
      </div>
      <div class="feature-card" onclick="location.href='/fibonacci';" onKeyPress="if(event.key === 'Enter') location.href='/fibonacci';" role="button" tabindex="1">
        <img src="/assets/fibonacci.jpg" alt="Fibonacci">
        <h3>For nerds</h3>
        <p>You know who you are</p>
      </div>
    </section>
</main>